<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{3}] %m%n"/>
      </layout>
   </appender>


   <category name="org.helios" additivity="false">
      <priority value="INFO"/>
      <appender-ref ref="CONSOLE"  />
   </category>
   
   <category name="org.jboss.netty" additivity="false">
      <priority value="INFO"/>
      <appender-ref ref="CONSOLE"  />
   </category>

   
   <category name="org.apache.log4j">
     <priority value="FATAL"/>
     <appender-ref ref="CONSOLE"/>
   </category>
   
	<!-- 
		Set this category to DEBUG to add the netty logging handler to the server pipeline.	
	 -->
	    <category name="org.jboss.netty.handler.logging.LoggingHandler">
     		<priority value="INFO"/>
     		<appender-ref ref="CONSOLE"/>
   		</category>	 
   		
   	<!-- 
   		Set this category to DEBUG to see logging for the Port Unification Protocol Switch
   	 -->
	    <category name="org.helios.netty.ajax.ProtocolSwitch">
     		<priority value="INFO"/>
     		<appender-ref ref="CONSOLE"/>
   		</category>	 
   	 
   	 
	 

   <root>
   	  <priority value="WARN"/>
   	  <appender-ref ref="CONSOLE"/>      
   </root>


</log4j:configuration>
